body {
    background: rgb(0, 0, 0);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}

#glow {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0;
    color: rgb(249, 197, 206);
    font-size: 40px;
    font-family: cursive;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}
#music-header,
#purpleGlow {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0;
    color: rgb(201, 116, 240);
    font-size: 40px;
    font-family: cursive;
    -webkit-animation: glowp 2s ease-in-out infinite alternate;
    -moz-animation: glowp 2s ease-in-out infinite alternate;
    animation: glowp 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 20px #e34694, 0 0 20px #e60073, 0 0 30px #e60073, 0 0 30px #e60073, 0 0 30px #e60073;
    }

    to {
        text-shadow: 0 0 1px #fff, 0 0 20px #ff4da6, 0 0 10px #ff4da6, 0 0 20px #ff4da6, 0 0 30px #ff4da6, 0 0 30px #ff4da6, 0 0 40px #ff4da6;
    }
}
@-webkit-keyframes glowp {
    from {
        text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 20px rgb(201, 53, 230), 0 0 20px #d40cf3, 0 0 30px #d61bf2, 0 0 30px #c30ae8, 0 0 30px #b710ef;
    }

    to {
        text-shadow: 0 0 1px #fff, 0 0 20px #cc16ed, 0 0 10px #af0be6, 0 0 20px #a621e8, 0 0 30px #950ed8, 0 0 30px #a409e1, 0 0 40px #bd0eed;
    }
}

#all-contents {
    max-width: 800px;
    margin: auto;
}
#music-taste {
    max-width: 800px;
    margin: auto;
    background-color: rgb(201, 116, 240);
    margin-top: 15px;
    border-style: ridge;
    border-radius: 5% / 10%;
}
#music-header{
    color: black;
    margin-left: 15px;
}
.sleepToken{
    margin-left: 40px;
}
#theSumm{
    margin-top: 10px;
    margin-left: 120px;
    margin-bottom: 10px;
}

/* navigation menu */
nav {
    background: rgb(201, 116, 240);
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
    padding: 10px;
    border-radius: 5% / 30%;
}


#nav-ul {
    list-style-image: none;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #8b16f1;
}

/* main container area beneath menu */
main {
    background: rgb(250, 210, 243);
    display: flex;
    border-radius: 5% / 10%;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 350px;
    height: 250px;
    border-radius: 50px;
    border-style: inset;
    margin-top: 40px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px silver ridge;
    padding: 8px;
    border-radius: 15px;
}

h2,
h3 {
    margin: 0px;
}
 /* portfolio styles */
 #purpleGlow {
    color: black;
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #7cb5e1;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #e0a8f5;
}

#portfolio a {
    text-decoration: none;
    color: #ffffff;
}
